header {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #3d3d3d !important;
    color: #f5ecd5 !important;
}

header .navbar {
    background-color: #3d3d3d !important;
}

header .nav-link,
header .navbar-toggler-icon,
header .navbar-brand,
header .fs-4 {
    color: #f5ecd5 !important;
}

header .nav-link:hover {
    color: #fff !important; /* Optional: white on hover */
}

header .navbar-toggler {
    border-color: #f5ecd5 !important;
}

.text-cream {
    color: #fffaec;
}
.background-beige {
    background-color: #f5ecd5;
}

.background-teal {
    background-color: #578e7e;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
